
{% extends "index.html" %}
{% load static %}
{% block content %}cfff <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
    hola pibes
    <div class="d-flex align-items-center">
        <img src="{% static 'img/images.jpg' %}" class="img-thumbnail" width="200px" alt="imagen">
        <p class="ms-3">RED DEAD REDEMPTION 2 + DELUXE</p>
    </div>

    <div class="d-flex align-items-center">
        <img src="{% static 'img/gtas.jpg' %}" class="img-thumbnail" width="200px" alt="imagen">
        <p class="ms-3">GTA V DEFINIVE EDITION</p>
    </div>
    
    
</body>
</html>
{% endblock %}
